git+https://github.com/huggingface/transformers@82a06db03535c49aa987719ed0746a76093b1ec4
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/peft.git
huggingface_hub
qwen-vl-utils
sentencepiece
opencv-python
torchvision
supervision
matplotlib
easydict
kernels
gradio==6.0.1
einops
spaces
addict
hf_xet
torch
numpy
av
